@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root{
  --mainGreen:#152D1E;
  --mainWhite:#ffff;
  --mainBrown:#E3B6A4;
  
}


body{
  font-family: 'Bell MT', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

nav, a{
  /* font-family: 'Graphik', sans-serif; */
  background-color: var(--mainGreen);
  color: var(--mainWhite);
}

a:hover{
  color: var(--mainBrown);
}

.height-max{
  min-height: 70vh;
  background:url('../img/background.png');
  background-color: var(--mainGreen);
  color: var(--mainWhite);
}

.facility{
  background-color: #E5E5E5;
}

footer{
  background-color: var(--mainGreen);
  color: var(--mainWhite);
  font-family: 'Graphik' sans-serif;
}

footer, li, button {
  font-family: 'Graphik', sans-serif;
  font-size: 14px;
}
footer, .footer-copyright{
  font-size: 11px;
}