@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');

:root{
  --mainGreen:#152D1E;
  --mainWhite:#ffffff;
  --mainGrey:  #BDBDBD;
  --mainBrown:#E3B6A4;
  
}


body{
  font-family: 'Bell Mt';
  color: var(--mainBlack);
  background: var(--mainWhite);
}


nav, a{
  background-color: var(--mainGreen);
  color: var(--mainWhite);
}

a:hover{
  color: var(--mainBrown);
}


/* setting of fonts */
p,
label{
  font-family: Graphik;
}
/* conatct us page design */
.section__contact{
  background-image: linear-gradient(to bottom, #FFF9F7 70%,  #F7FFFA 70%);
  padding:  100px 140px;
}
.contact__details{
  color: #722C11;
  flex: 1;
}
.contact__form-box{
    padding: 50px;
    background-color: var(--mainWhite);
    font-size: 10px;
    box-shadow: 1px 2px 6px rgba(204, 138, 112, 0.15);

}
.contact__label{
  font-size: 14px;
  margin-top: 24px;
  color: #595959;
}
.contact__input{
  width: 100%;
  padding: 8px 0 8px 10px;
}
.contact__textarea{
  padding: 8px 10px 50px;
}
.contact__input::placeholder{
  font-size: 12px;
  color: #666666;
  font-family: Graphik;
}
.phone{
  display: block;
}
.secondary__heading{
  padding-bottom: 20px;
}
.contact__details--para1{
  width: 40%;
}
.contact__details--para2{
  width: 55%;
}
.contact__details--para3{
  width: 25%;
}
.contact__details--paralight{
  font-weight: 200;
}
.utility{
  text-align: right;
}
/* map design */
.map--box{
  margin-top: 140px;
  text-align: center;
}
.map{
  width: 100%;
  height: 450px;
  margin: auto;
  background-image: linear-gradient(to right, rgba(21, 45, 30, 0.1), rgba(21, 45, 30, 0.1)), url("/img/map.png");
}
.map--image{
  width: 100%;
  object-fit: contain;
}
.btn-clear{
  margin-top: 70px;
  padding: 10px 30px;
  background-color: transparent;
  font-size: 20px;
  border: 1px solid #152D1E;
  cursor: pointer;
}
.btn-clear:hover,
.btn-clear:active,
.btn-clear:focus{
  outline: none;
}

/* conact us page newsletter design */
.section__newsletter{
  background-color: rgba(255, 246, 242, 0.2);
  padding: 100px 140px;
  color: #333333;
  overflow: hidden;
  position: relative;
}
.newsletter__input{
  background: var(--mainWhite);
  border: 1px solid #808080;
  width: 300px;
  height: 35px;
  outline: none;
}
.newsletter__form{
  width: 70%;
  margin-top: 2rem;
  position: relative;
}

.btn-dark{
  height: 40px;
  margin-top: 30px;
  width: 80px;
  border: none;
  cursor: pointer;
}
.btn-dark:focus,
.btn-dark:hover,
.btn-dark:active{
  outline: none;
}

.newsletter__checkbox--label{
  font-size: 14px;
  margin-top: 20px;
  font-weight: 100;
  display: block;
  position: absolute;
  bottom: -40px;
}

.newsletter__bg--design{
  position: absolute;
  right: 0;
  top: -25px;

}
.newsletter__bg--image{
  width: 100%;
  object-fit: contain;
}


/* footer design */

footer{
  background-color: var(--mainGreen);
  color: var(--mainWhite);
}

footer, li, button {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}
footer, .footer-copyright{
  font-size: 11px;
}

@media only screen and (max-width: 600px) {
  /* contact section */
  .section__contact{
    background-image: linear-gradient(to bottom, #FFF9F7 80%,  #F7FFFA 80%);
    padding:  50px 40px;
  }
  .contact__box{
    flex-direction: column;
  }
  .contact__details{
    /* text-align: center; */
    margin: 30px 0;
  }
  .contact__details--para1{
    width: 100%;
  }
  .contact__details--para2{
    width: 100%;
  }
  .contact__details--para3{
    width: 100%;
  }
  /* newsletter section */
  .section__newsletter{
    padding: 50px 40px;
    margin: 0;
  }
  .newsletter__form{
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .newsletter__label{
    margin-top: 10px;
  }
  .newsletter__checkbox--label{
    font-size: 14px;
    margin-top: 20px;
    font-weight: 100;
    display: block;
    position: absolute;
    bottom: 30px;
  }
}